body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding:0;
    margin: 0;
}

.container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide overflow if content is too big */
}
.container1 {
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 25px;
}
header {
    background: #333;
    padding:1px;
    border-bottom: 3px solid #007bff; /* Highlight color */
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    text-align: left;
}

.chart-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    justify-content: space-between; /* Ensure space between charts */
    gap: 20px; /* Add space between charts */
    align-items: flex-start; /* Align items to the top */
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #007bff; /* Highlight color on hover */
    color: #fff;
}

.bar-chart,
.pie-chart {
    flex: 1; /* Allow charts to grow and shrink equally */
    min-width: 300px; /* Ensure charts don't get too small */
    max-width: calc(50% - 10px); /* Ensure charts do not exceed half the container width with gap considered */
    background-color: #f1ebeb;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide any overflow from child elements */
}

canvas {
    width: 100% !important; /* Ensure canvas fits container width */
    height: 450px !important; /* Set a fixed height for consistency across charts */
    max-height: 400px; /* Set a maximum height */
}
