<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Expense</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'test.css' %}">
</head>
<body>
    <div class="container">
        <h1>Edit Expense</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
           
            <button type="submit" class="button">Save Changes</button>
        </form>
        <br>
        <a href="{% url 'expense_list' %}">
            <button class="button">Go to Expense List</button></a>
    </div>
    

    <footer>
        <p>Expense Tracker &copy; 2024</p>
    </footer>
</body>
</html>
