<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Expense Tracker</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'register' %}">Registration</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'manage_expenses' %}">Manage Expenses</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    <section id="showcase">
        <div class="container">
            <h1>Welcome to Expense Tracker</h1>
            <p>Manage and track your expenses efficiently.</p>
        </div>
    </section>
    <footer>
        <p>Expense Tracker &copy; 2024</p>
    </footer>
</body>
</html>